<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">任务名:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[name]" type="text" placeholder="如：VIP群自动红包">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">群ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[group_id]" type="number" data-rule="required" min="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">自动发包:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="checkbox-inline"><input type="checkbox" name="row[auto_send]" value="1" checked> 开启</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">发包用户ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[send_user_ids]" type="text" placeholder="多个用逗号分隔，如 1001,1002">
            <span class="help-block">多个 UID 时每次<strong>随机选一个</strong>发包；须在群内且红宝充足</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">红包类型:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[packet_type]" class="form-control selectpicker">
                {foreach name="packetTypeList" item="vo"}
                <option value="{$key}" {eq name="key" value="2"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">金额/个数:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">金额</span>
                <input class="form-control" name="row[total_amount]" type="number" step="0.01" min="0.01" value="10">
                <span class="input-group-addon">个数</span>
                <input class="form-control" name="row[total_count]" type="number" min="1" value="5">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">祝福语:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[blessing]" type="text" value="恭喜发财">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">埋雷数字:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" type="text" value="每次自动随机 0～9" disabled>
            <input type="hidden" name="row[mine_digit]" value="0">
            <span class="help-block">埋雷包雷号由系统每次发包随机，无需配置</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">发包间隔(秒):</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[interval_sec]" type="number" min="5" value="60">
            <span class="help-block">仅当群内<strong>没有待领取红包</strong>时才会自动发。未启用下方「时间窗」时按此固定间隔。</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">时间窗发包:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">包数</span>
                <input class="form-control" name="row[burst_count]" type="number" min="1" value="1">
                <span class="input-group-addon">窗长秒</span>
                <input class="form-control" name="row[burst_window_sec]" type="number" min="0" value="0">
            </div>
            <span class="help-block">例：包数=3、窗长=120 → 每 2 分钟内随机节奏发最多 3 包。窗长填 0 则用上方固定间隔。</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">每日上限:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[max_per_day]" type="number" min="0" value="100">
            <span class="help-block">每日最多自动发包次数，0=不限</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">自动抢包:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="checkbox-inline"><input type="checkbox" name="row[auto_grab]" value="1" checked> 开启</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">抢包用户ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[grab_user_ids]" type="text" placeholder="多个用逗号分隔，如 10001,10002">
            <span class="help-block">多个 UID 时每次<strong>随机选一个</strong>尚未领过的去抢（拼手气/埋雷/接龙均可）。未在群内会自动拉入；接龙/埋雷需红宝余额够赔付。</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">抢包延迟ms:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">最小</span>
                <input class="form-control" name="row[grab_delay_min_ms]" type="number" min="0" value="5000">
                <span class="input-group-addon">最大</span>
                <input class="form-control" name="row[grab_delay_max_ms]" type="number" min="0" value="15000">
            </div>
            <span class="help-block">单位毫秒，建议 5000～15000（5～15 秒随机抢一次，勿设过短）</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[status]" class="form-control selectpicker">
                {foreach name="statusList" item="vo"}
                <option value="{$key}" {eq name="key" value="hidden"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
            <span class="help-block">新建默认停用，确认参数后再改为启用</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[remark]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
