<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">任务名:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[name]" type="text" placeholder="如：VIP群牛牛机器人">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">群ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[group_id]" type="number" data-rule="required" min="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">发抢模式:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="radio-inline"><input type="radio" name="row[actor_mode]" value="1"> 模式一：UID 池</label>
            <label class="radio-inline"><input type="radio" name="row[actor_mode]" value="2" checked> 模式二：机器人账户</label>
            <span class="help-block">模式二从 is_bot=1 账户随机选人购入/领取</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">购入UID池:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[buy_user_ids]" type="text" placeholder="模式一必填，逗号分隔">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">随机人数:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">最少</span>
                <input class="form-control" name="row[buyer_count_min]" type="number" min="1" value="3">
                <span class="input-group-addon">最多</span>
                <input class="form-control" name="row[buyer_count_max]" type="number" min="1" value="8">
            </div>
            <span class="help-block">每局随机抽取购入人数</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">每人份数:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">最少</span>
                <input class="form-control" name="row[shares_min]" type="number" min="1" value="1">
                <span class="input-group-addon">最多</span>
                <input class="form-control" name="row[shares_max]" type="number" min="1" value="3">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">购入延迟ms:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">最小</span>
                <input class="form-control" name="row[buy_delay_min_ms]" type="number" min="0" value="800">
                <span class="input-group-addon">最大</span>
                <input class="form-control" name="row[buy_delay_max_ms]" type="number" min="0" value="8000">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">领取延迟ms:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">最小</span>
                <input class="form-control" name="row[claim_delay_min_ms]" type="number" min="0" value="500">
                <span class="input-group-addon">最大</span>
                <input class="form-control" name="row[claim_delay_max_ms]" type="number" min="0" value="5000">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">自动购入:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="checkbox-inline"><input type="checkbox" name="row[auto_buy]" value="1" checked> 开启</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">自动领取:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="checkbox-inline"><input type="checkbox" name="row[auto_claim]" value="1" checked> 开启（领完可提前结算）</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', $statusList, 'hidden')}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[remark]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
        </div>
    </div>
</form>
