<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div class="alert alert-info" style="margin-bottom:15px">
            极光状态：{if $jpush_ready}<span class="text-success">已就绪</span>{else /}<span class="text-danger">未配置</span>{/if}
            &nbsp; AppKey：<code>{$jpush_app_key|default=''|htmlentities}</code>
            <br>规则：用户 <b>App 在线</b>（WebSocket）时只走站内提示音，不发极光；离线才推送。
        </div>

        <form id="push-send-form" class="form-horizontal" style="margin-bottom:20px;padding:12px;border:1px solid #eee;border-radius:4px;background:#fafafa">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">推送方式</label>
                <div class="col-xs-12 col-sm-8">
                    <label class="radio-inline"><input type="radio" name="mode" value="single" checked> 单独推送</label>
                    <label class="radio-inline"><input type="radio" name="mode" value="batch"> 批量用户</label>
                    <label class="radio-inline"><input type="radio" name="mode" value="all"> 全部设备</label>
                </div>
            </div>
            <div class="form-group" id="row-user-id">
                <label class="control-label col-xs-12 col-sm-2">用户 ID</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="number" class="form-control" name="user_id" placeholder="单个用户 ID">
                </div>
            </div>
            <div class="form-group hide" id="row-user-ids">
                <label class="control-label col-xs-12 col-sm-2">用户 ID 列表</label>
                <div class="col-xs-12 col-sm-8">
                    <textarea class="form-control" name="user_ids" rows="3" placeholder="多个 ID，逗号或换行分隔"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">标题</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control" name="title" value="红宝" maxlength="64">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">内容</label>
                <div class="col-xs-12 col-sm-8">
                    <textarea class="form-control" name="content" rows="3" required placeholder="推送正文"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">平台</label>
                <div class="col-xs-12 col-sm-8">
                    <select class="form-control" name="platform">
                        <option value="all">全部</option>
                        <option value="ios">仅 iOS</option>
                        <option value="android">仅 Android</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-success" id="btn-push-send"><i class="fa fa-paper-plane"></i> 发送推送</button>
                </div>
            </div>
        </form>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i class="fa fa-refresh"></i> 刷新日志</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('fanshub/push/del')?'':'hide'}" title="{:__('Delete')}"><i class="fa fa-trash"></i> {:__('Delete')}</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-del="{:$auth->check('fanshub/push/del')}"
                           width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
