<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">标题:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[title]" value="{$row.title|htmlentities}" data-rule="required" maxlength="128">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">正文:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" name="row[content]" rows="5">{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">配图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" class="form-control" name="row[images]" type="text" value="{$row.images|htmlentities}" placeholder="可选，多图逗号分隔">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-images" class="btn btn-danger faupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
            </div>
            <ul class="row list-inline faupload-preview" id="p-images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">跳转目标:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[jump_type]', $jumpTypeList, $row.jump_type)}
            <span class="help-block">点主按钮后跳转；「红宝→社群/公告」在 H5 / APK / IPA 均切到对应 Tab</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">跳转附加:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[jump_extra]" value="{$row.jump_extra|htmlentities}" placeholder="公告分类 latest/promote/ads/rules，或 https://… /pages/…">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">按钮文案:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[btn_text]" value="{$row.btn_text|htmlentities}" maxlength="64">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">展示规则:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[show_mode]', $showModeList, $row.show_mode)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">排序:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" name="row[weigh]" value="{$row.weigh|default=0}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', $statusList, $row.status)}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
