<form id="adjust-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">会员:</label>
        <div class="col-xs-12 col-sm-8">
            <p class="form-control-static">ID {$row.id} / {$user.mobile|default='-'|htmlentities}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">当前股份:</label>
        <div class="col-xs-12 col-sm-8">
            <p class="form-control-static">{$row.rights}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">当前红宝:</label>
        <div class="col-xs-12 col-sm-8">
            <p class="form-control-static">{$row.hongbao|default='0'}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">股份调整:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="rights_delta" type="number" step="0.01" value="0" placeholder="正数增加，负数扣减">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">红宝调整:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="hongbao_delta" type="number" step="0.01" value="0" placeholder="正数增加，负数扣减">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="remark" type="text" value="人工调账">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed">提交调账</button>
        </div>
    </div>
</form>
