<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>OG视讯 · 转账钱包商户配置</em> 公匙走 Header <code>key</code>，运营商名称走 <code>operator-name</code>；业务参数按 a→z 排序后 <code>key=value&amp;…</code> 拼私钥 MD5 得 <code>signature</code>。</div>
    </div>
    <div class="panel-body">
        <form id="og-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('fanshub.ogmerchant/save')}">
            <fieldset>
                <legend>开关</legend>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">启用 OG视讯</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="radio-inline"><input type="radio" name="og_enabled" value="1" {if !empty($config.og_enabled)}checked{/if}> 开启</label>
                        <label class="radio-inline"><input type="radio" name="og_enabled" value="0" {if empty($config.og_enabled)}checked{/if}> 关闭</label>
                        <span class="help-block">关闭后前台不展示入口、接口拒绝创建会员/进游戏</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">沙箱模式</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="radio-inline"><input type="radio" name="og_sandbox" value="1" {if !empty($config.og_sandbox)}checked{/if}> 沙箱</label>
                        <label class="radio-inline"><input type="radio" name="og_sandbox" value="0" {if empty($config.og_sandbox)}checked{/if}> 正式</label>
                        <span class="help-block">沙箱走「沙箱网关」地址；正式走「正式网关」</span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>商户凭证（转账钱包）</legend>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">运营商名称</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="og_merchant_code" value="{$config.og_merchant_code|default=''|htmlentities}" placeholder="operator-name" autocomplete="off">
                        <span class="help-block">Header：<code>operator-name</code></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">公匙</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="og_api_key" value="{$config.og_api_key|default=''|htmlentities}" placeholder="public key" autocomplete="off">
                        <span class="help-block">Header：<code>key</code></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">私钥</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="password" class="form-control" name="og_api_secret" value="{$config.og_api_secret|default=''|htmlentities}" placeholder="private key（签名用）" autocomplete="new-password">
                        <span class="help-block">signature = MD5( 排序后的 key=value&amp;… + 私钥 )</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">代理号</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="og_agent_id" value="{$config.og_agent_id|default=''|htmlentities}" placeholder="可选，部分环境需要" autocomplete="off">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>网关与币种</legend>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">正式网关</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" name="og_api_base_url" value="{$config.og_api_base_url|default=''|htmlentities}" placeholder="https://…（OG_Host，不含末尾路径）">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">沙箱网关</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" name="og_sandbox_base_url" value="{$config.og_sandbox_base_url|default=''|htmlentities}" placeholder="https://sandbox-…">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">币种</label>
                    <div class="col-xs-12 col-sm-4">
                        <select class="form-control" name="og_currency">
                            <option value="CNY" {eq name="config.og_currency" value="CNY"}selected{/eq}>CNY</option>
                            <option value="USD" {eq name="config.og_currency" value="USD"}selected{/eq}>USD</option>
                            <option value="USDT" {eq name="config.og_currency" value="USDT"}selected{/eq}>USDT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">语言</label>
                    <div class="col-xs-12 col-sm-4">
                        <select class="form-control" name="og_language">
                            <option value="zh" {eq name="config.og_language" value="zh"}selected{/eq}>zh 中文</option>
                            <option value="en" {eq name="config.og_language" value="en"}selected{/eq}>en English</option>
                            <option value="th" {eq name="config.og_language" value="th"}selected{/eq}>th ไทย</option>
                            <option value="vi" {eq name="config.og_language" value="vi"}selected{/eq}>vi Tiếng Việt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">默认游戏 ID</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="0" class="form-control" name="og_default_game_id" value="{$config.og_default_game_id|default=0|htmlentities}" placeholder="来自游戏列表；0=进游戏时必传">
                        <span class="help-block">正式/沙箱 game_id 不同</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">默认限红组</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="0" class="form-control" name="og_default_betlimit" value="{$config.og_default_betlimit|default=0|htmlentities}" placeholder="来自限红列表；0=自动取第一组">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">超时（秒）</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="3" max="120" class="form-control" name="og_timeout" value="{$config.og_timeout|default=15|htmlentities}">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>投注记录同步</legend>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">定时抓取</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="radio-inline"><input type="radio" name="og_bet_sync_enabled" value="1" {if !isset($config.og_bet_sync_enabled) || !empty($config.og_bet_sync_enabled)}checked{/if}> 开启</label>
                        <label class="radio-inline"><input type="radio" name="og_bet_sync_enabled" value="0" {if isset($config.og_bet_sync_enabled) && empty($config.og_bet_sync_enabled)}checked{/if}> 关闭</label>
                        <span class="help-block">命令 <code>php think fanshub:og-bets</code>；后台「三方游戏 → OG投注记录」可查可搜</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">游戏类型</label>
                    <div class="col-xs-12 col-sm-4">
                        <select class="form-control" name="og_bet_game_type_id">
                            <option value="1" {if $config.og_bet_game_type_id == 1}selected{/if}>1 真人</option>
                            <option value="2" {if $config.og_bet_game_type_id == 2}selected{/if}>2 老虎机</option>
                            <option value="3" {if $config.og_bet_game_type_id == 3}selected{/if}>3 棋牌</option>
                            <option value="4" {if $config.og_bet_game_type_id == 4}selected{/if}>4 彩票</option>
                            <option value="5" {if $config.og_bet_game_type_id == 5}selected{/if}>5 体育</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">每批条数</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" max="8000" class="form-control" name="og_bet_limit" value="{$config.og_bet_limit|default=5000|htmlentities}">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>投注返水</legend>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">开启返水</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="radio-inline"><input type="radio" name="og_rebate_enabled" value="1" {if !isset($config.og_rebate_enabled) || !empty($config.og_rebate_enabled)}checked{/if}> 开启</label>
                        <label class="radio-inline"><input type="radio" name="og_rebate_enabled" value="0" {if isset($config.og_rebate_enabled) && empty($config.og_rebate_enabled)}checked{/if}> 关闭</label>
                        <span class="help-block">大厅展示「领取昨日的返水」；成功下注且非平局退本（有效投注额&gt;0）才计入累计</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">返水比例(%)</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="0" max="100" step="0.01" class="form-control" name="og_rebate_rate_percent" value="{$config.og_rebate_rate_percent|default='1'|htmlentities}">
                        <span class="help-block">默认 1（即 1%）。返水金额 = 昨日有效投注累计 × 比例；领取后等额增加待打流水</span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>回调与返回</legend>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">钱包回调 URL</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" name="og_callback_url" value="{$config.og_callback_url|default=''|htmlentities}" placeholder="{$suggested_callback|htmlentities}">
                        <span class="help-block">建议：<code>{$suggested_callback|htmlentities}</code></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">游戏返回 URL</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" name="og_return_url" value="{$config.og_return_url|default=''|htmlentities}" placeholder="{$suggested_return|htmlentities}">
                        <span class="help-block">建议：<code>{$suggested_return|htmlentities}</code></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">备注</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea class="form-control" name="og_remark" rows="2" placeholder="对接联系人、合同编号等">{$config.og_remark|default=''|htmlentities}</textarea>
                    </div>
                </div>
            </fieldset>

            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-embossed">保存商户配置</button>
                </div>
            </div>
        </form>

        <hr>
        <form id="og-test-register" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testregister')}">
            <fieldset>
                <legend>联调：注册玩家</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>POST /api/v2/platform/transfer-wallet/register</code>（form）；S-100 / S-121 成功。前端对齐：<code>player_id = u{user_id}</code>。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">player_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="player_id" placeholder="如 u54294525" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">nickname</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="nickname" placeholder="可选；中文昵称前端会回退 n{user_id}" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed">测试注册</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-deposit" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testdeposit')}">
            <fieldset>
                <legend>联调：玩家转账 · 存入</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>POST /api/v2/platform/transfer-wallet/deposit</code>（JSON + signature）。S-100 成功（含 balance）；S-101 流水重复视为已入账；S-104 玩家不可用会先重注册再试。后台联调仅打 OG，不扣本站红宝；正式走 <code>/api/fanshub/ogdeposit</code>。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">player_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="player_id" placeholder="须已注册" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">transfer_amount</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" step="0.01" min="0.01" class="form-control" name="transfer_amount" placeholder="99.99" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">transaction_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="transaction_id" placeholder="可选，留空自动生成（小写字母数字 8–64）" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-warning btn-embossed">测试存入</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-withdraw" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testwithdraw')}">
            <fieldset>
                <legend>联调：玩家转账 · 提出</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>POST /api/v2/platform/transfer-wallet/withdraw</code>（JSON + signature）。S-100 成功（含剩余 balance）；S-101 流水重复视为已提出；S-103 余额不足。后台联调仅打 OG，不加本站红宝；正式走 <code>/api/fanshub/ogwithdraw</code>。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">player_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="player_id" placeholder="须已注册且 OG 有余额" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">transfer_amount</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" step="0.01" min="0.01" class="form-control" name="transfer_amount" placeholder="99" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">transaction_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="transaction_id" placeholder="可选，留空自动生成" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-info btn-embossed">测试提出</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-history" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testhistory')}">
            <fieldset>
                <legend>联调：转账历史</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>GET /api/v2/platform/transaction/transfer-history</code>。S-100 有数据；S-115 无数据。正式前端走 <code>/api/fanshub/ogtransferhistory</code>（会按当前用户 player_id 过滤并同步本站）。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">player_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="player_id" placeholder="可选，留空查全部" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">fetch_id</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" class="form-control" name="fetch_id" value="1" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">limit</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" max="8000" class="form-control" name="limit" value="100" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">transaction_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="transaction_id" placeholder="可选，查单笔" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-default btn-embossed">拉取历史</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-gamelist" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testgamelist')}">
            <fieldset>
                <legend>联调：游戏列表</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>GET /api/v2/platform/game/game-list</code>。正式/沙箱 <code>game_id</code> 不同，上线请用正式网关重新拉取。前端：<code>/api/fanshub/oggamelist</code>。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">game_id</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" class="form-control" name="game_id" placeholder="可选" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">game_name</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="game_name" placeholder="可选，如 og-lobby" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">game_type</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="game_type" placeholder="可选，如 Live Game / Slot Game" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-primary btn-embossed">拉取游戏列表</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-betlimit" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testbetlimit')}">
            <fieldset>
                <legend>联调：限红列表</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>GET /api/v2/platform/operator/betlimit</code>。正式/沙箱限额组 <code>id</code> 不同。前端：<code>/api/fanshub/ogbetlimit</code>。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">限红组 id</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" class="form-control" name="id" placeholder="可选，指定单组" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-primary btn-embossed">获取限红列表</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-launch" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testlaunch')}">
            <fieldset>
                <legend>联调：进入游戏</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>GET /api/v2/platform/games/launch</code>（query + signature，时间戳毫秒）。正式前端：<code>/api/fanshub/oglaunch</code>。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">player_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="player_id" placeholder="须已注册" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">nickname</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="nickname" placeholder="可选" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">game_id</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" class="form-control" name="game_id" placeholder="必填" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">betlimit</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" class="form-control" name="betlimit" placeholder="限红组 id" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">lang</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="text" class="form-control" name="lang" value="zh" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-danger btn-embossed">获取 game_link</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-balance" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testbalance')}">
            <fieldset>
                <legend>联调：玩家余额</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>GET /api/v2/platform/transfer-wallet/get-balance</code>。S-100 返回 <code>current_balance</code>；S-104 玩家不可用。正式：<code>/api/fanshub/ogbalance</code>。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">player_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="player_id" placeholder="须已注册" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed">查询余额</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <hr>
        <form id="og-test-bethistory" class="form-horizontal" role="form" method="POST" action="{:url('fanshub.ogmerchant/testbethistory')}">
            <fieldset>
                <legend>联调：投注记录</legend>
                <p class="help-block" style="padding-left:15px;">调用 <code>GET /api/v2/platform/transaction/history</code>。S-100 返回 records；S-115 无数据。勾选落库会写入本地并供后台搜索。</p>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">fetch_id</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" class="form-control" name="fetch_id" value="1" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">limit</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" max="8000" class="form-control" name="limit" value="100" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">game_type_id</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="number" min="1" max="5" class="form-control" name="game_type_id" value="1" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">player_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="player_id" placeholder="可选" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">transaction_id</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" name="transaction_id" placeholder="可选" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">game_id / round_id</label>
                    <div class="col-xs-12 col-sm-3">
                        <input type="text" class="form-control" name="game_id" placeholder="game_id" autocomplete="off">
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input type="number" class="form-control" name="round_id" placeholder="round_id" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">落库</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="checkbox-inline"><input type="checkbox" name="do_sync" value="1"> 写入 fans_og_bet（不推进定时游标）</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-info btn-embossed">拉取投注记录</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
