<div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">资产闪兑:</label>
    <div class="col-xs-12 col-sm-8">
        <p class="help-block">仅股份 ↔ 红宝</p>
        <table class="table table-bordered">
            <thead>
            <tr><th>方向</th><th>启用</th><th>最低兑换额</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>股份 → 红宝</td>
                <td><input type="checkbox" name="exchange_rh_enabled" value="1" {if condition="!isset($config.exchange_rh_enabled) || !empty($config.exchange_rh_enabled)"}checked{/if}></td>
                <td><input class="form-control" name="exchange_rh_min" type="number" step="1" value="{$config.exchange_rh_min|default='1'}"></td>
            </tr>
            <tr>
                <td>红宝 → 股份</td>
                <td><input type="checkbox" name="exchange_hr_enabled" value="1" {if condition="!isset($config.exchange_hr_enabled) || !empty($config.exchange_hr_enabled)"}checked{/if}></td>
                <td><input class="form-control" name="exchange_hr_min" type="number" step="0.01" value="{$config.exchange_hr_min|default='1'}"></td>
            </tr>
            </tbody>
        </table>
        <label>红宝单位价值（元）</label>
        <input class="form-control" name="hongbao_unit_value" type="number" step="0.0001" value="{$config.hongbao_unit_value|default='1'}">
        <span class="help-block">1 红宝折合多少元；股份单价取大盘实时价</span>
    </div>
</div>
