<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">群名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[name]" value="" data-rule="required" placeholder="如：福利群1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">群主会员ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" name="row[owner_user_id]" value="" data-rule="required" placeholder="fa_user.id">
            <span class="help-block">可填 IM 托管账号的会员ID</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">群管理员ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[admin_user_ids]" value="" placeholder="多个用逗号分隔">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">普通成员ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[member_user_ids]" value="" placeholder="可选，多个用逗号分隔">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">群公告:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" name="row[notice]" rows="3" placeholder="中文默认公告，前台置顶显示"></textarea>
            <span class="help-block">置顶公告（中文默认）；其它语言在下方填写</span>
        </div>
    </div>
    {volist name="localeList" id="locCode"}
    {neq name="locCode" value="zh-CN"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公告 ({$locCode}):</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" name="row[notice_i18n][{$locCode}]" rows="2" maxlength="500" placeholder="留空则用中文公告"></textarea>
        </div>
    </div>
    {/neq}
    {/volist}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公告配图:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-notice_images" class="form-control" name="row[notice_images]" type="text" value="" placeholder="多图用逗号分隔，前台可点击放大">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-notice_images" class="btn btn-danger faupload" data-input-id="c-notice_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="true" data-preview-id="p-notice_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
            </div>
            <ul class="row list-inline faupload-preview" id="p-notice_images"></ul>
            <span class="help-block">支持多张；H5 群公告下方展示，点击可放大查看</span>
        </div>
    </div>
    {if $agents}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">快捷托管账号:</label>
        <div class="col-xs-12 col-sm-8">
            <ul class="list-unstyled" style="margin:0;">
                {foreach name="agents" item="a"}
                <li>ID {$a.user_id} · {$a.label|default='客服'}</li>
                {/foreach}
            </ul>
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">推荐社群:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_recommend]', ['1'=>'是', '0'=>'否'], '0')}
            <span class="help-block">开启后出现在 H5「社群」官方列表</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">排序权重:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" name="row[weigh]" value="0">
            <span class="help-block">数字越大越靠前</span>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
