<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div id="toolbar" class="toolbar">
            <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i class="fa fa-refresh"></i></a>
            <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('fanshub/noticeuser/add')?'':'hide'}" title="{:__('Add')}"><i class="fa fa-plus"></i> {:__('Add')}</a>
            <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('fanshub/noticeuser/edit')?'':'hide'}" title="{:__('Edit')}"><i class="fa fa-pencil"></i> {:__('Edit')}</a>
            <a href="javascript:;" class="btn btn-success btn-multi btn-disabled disabled {:$auth->check('fanshub/noticeuser/multi')?'':'hide'}" data-params="status=published" title="通过审核并展示"><i class="fa fa-check"></i> 通过审核</a>
            <a href="javascript:;" class="btn btn-danger btn-multi btn-disabled disabled {:$auth->check('fanshub/noticeuser/multi')?'':'hide'}" data-params="status=rejected" title="拒绝发帖"><i class="fa fa-times"></i> 拒绝</a>
            <a href="javascript:;" class="btn btn-warning btn-multi btn-disabled disabled {:$auth->check('fanshub/noticeuser/multi')?'':'hide'}" data-params="status=paused" title="暂停展示（保留数据，前台不显示）"><i class="fa fa-pause"></i> 暂停展示</a>
            <a href="javascript:;" class="btn btn-info btn-multi btn-disabled disabled {:$auth->check('fanshub/noticeuser/multi')?'':'hide'}" data-params="status=published" title="恢复前台展示"><i class="fa fa-play"></i> 恢复展示</a>
            <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('fanshub/noticeuser/del')?'':'hide'}" title="{:__('Delete')}"><i class="fa fa-trash"></i> {:__('Delete')}</a>
        </div>
        <table id="table" class="table table-striped table-bordered table-hover" width="100%"></table>
    </div>
</div>
